---
import Link from "@/components/link.astro";
---

<footer class="space-y-3 pb-12">
  <div class="h-5 w-full bg-sweater-4"></div>
  <div class="flex justify-between">
    <p>changelog - Charles Wang</p>
    <Link href="https://charleszw.com" target="_blank">charleszw.com</Link>
  </div>
</footer>
