<div class="relative overflow-hidden">
  <svg viewBox="0 0 1312 144" fill="none">
    <path
      d="M1239.22 287c-54.06 0-70.34-12.11-71.26-53.283h37.78c.92 17.862 6.76 23.009 33.79 23.009s35.02-7.872 35.33-34.816l.3-23.008h-2.45c-7.99 17.256-16.59 22.403-44.55 22.403-49.15 0-66.04-18.165-66.04-79.924 0-63.5763 16.28-82.3463 70.65-82.3463 23.35 0 32.56 5.1466 40.55 22.1002h2.46v-18.77h35.94V224.938c0 47.833-16.59 62.062-72.5 62.062Zm-39.62-145.619c0 37.54 8.6 48.741 37.78 48.741 28.88 0 37.48-11.201 37.48-48.741 0-39.357-8.6-51.1638-37.48-51.1638-29.18 0-37.78 11.8068-37.78 51.1638Z"
      fill="#ADA6FF"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M996.662 141.078c0 63.273 17.508 82.043 76.188 82.043 58.67 0 76.18-18.77 76.18-82.043 0-63.8787-17.51-82.6488-76.18-82.6488-58.68 0-76.188 18.7701-76.188 82.6488Z"
      fill="#9A91FE"></path>
    <path
      d="M890.784 220.397v-31.486H947V31.4852h-53.144V0h90.007v188.911h52.527v31.486H890.784Z"
      fill="#ADA6FF"></path>
    <path
      d="M863.613 223.121c-58.981 0-76.491-19.073-76.491-83.254 0-62.9705 16.895-81.4378 74.033-81.4378 58.366 0 74.955 22.403 72.804 95.9698H824.906c2.151 29.366 10.752 37.54 38.399 37.54 18.432 0 25.19-4.541 30.105-19.981h38.092c-6.144 39.356-21.504 51.163-67.889 51.163Zm-38.399-97.483h72.19c0-27.8523-10.138-36.0263-36.249-36.0263-24.883 0-35.941 8.174-35.941 36.0263ZM701.843 287c-54.066 0-70.347-12.11-71.269-53.283h37.785c.921 17.862 6.758 23.009 33.791 23.009 27.033 0 35.02-7.872 35.327-34.816l.307-23.008h-2.457c-7.987 17.256-16.589 22.403-44.543 22.403-49.151 0-66.046-18.165-66.046-79.924 0-63.5763 16.281-82.3463 70.654-82.3463 23.346 0 32.562 5.1466 40.549 22.1002h2.457v-18.77h35.942V224.938c0 47.833-16.589 62.062-72.497 62.062Zm-39.628-145.619c0 37.54 8.601 48.741 37.785 48.741 28.876 0 37.477-11.201 37.477-48.741 0-39.357-8.601-51.1638-37.477-51.1638-29.184 0-37.785 11.8068-37.785 51.1638ZM467.296 220.396V62.3649h37.478v21.7974h2.457c11.366-19.981 21.504-25.7331 43.929-25.7331 45.771 0 59.288 14.2289 59.288 62.0618v99.905H572.97v-100.51c0-22.1003-6.758-28.7606-29.797-28.7606-29.491 0-38.399 10.8986-38.399 47.2276v82.043h-37.478ZM369.581 223.121c-43.929 0-56.831-11.201-56.831-48.741 0-44.201 18.125-57.219 78.949-57.219h24.268v-1.816c0-19.9812-7.373-26.036-32.255-26.036-22.425 0-28.876 4.8438-28.262 21.192h-37.477c-1.536-40.2648 13.516-52.0718 65.739-52.0718 52.529 0 68.196 13.0179 68.196 56.9158v105.051h-35.02v-18.77h-2.457c-11.674 16.651-21.811 21.495-44.85 21.495Zm-19.353-51.466c0 15.44 5.836 19.981 25.804 19.981 29.797 0 38.706-9.991 39.628-44.2l-30.412.302c-27.033.303-35.02 5.752-35.02 23.917ZM160.234 220.397V0h37.477v83.557h2.458c10.444-19.3756 21.503-25.1277 43.621-25.1277 46.078 0 59.595 13.9262 59.595 61.4567v100.511h-37.477V119.281c0-22.7061-6.759-29.3664-30.105-29.3664-29.491 0-38.092 10.8984-38.092 48.1364v82.346h-37.477ZM77.4122 223.121C17.8171 223.121 0 204.654 0 141.683c0-64.181 17.5099-83.2538 76.7978-83.2538 51.9152 0 67.5822 13.0179 68.5032 57.2188h-37.17c-3.072-19.6787-9.8298-25.4308-29.49-25.4308-31.6407 0-41.1637 11.8068-41.1637 51.7688 0 38.146 9.523 49.347 41.4709 49.347 19.0458 0 25.8038-5.146 29.4908-22.1h36.862c-1.228 41.476-16.588 53.888-67.8888 53.888Z"
      fill="#ADA6FF"></path>
  </svg>

  <a href="https://charleszw.com" target="_blank" class="group absolute -bottom-[39%] left-[77.5%]">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="38%"
      height="38%"
      viewBox="0 0 25 25"
      fill="currentColor"
      class="fill-sweater-6 transition hover:rotate-[-13deg] hover:fill-sweater-7"
    >
      <title>Charles Wang</title>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M.626.626a2.139 2.139 0 0 1 3.025 0l1.82 1.821A12.2 12.2 0 0 1 12.536.21a12.2 12.2 0 0 1 7.022 2.21L21.35.625a2.139 2.139 0 0 1 3.025 3.025L22.58 5.443a12.2 12.2 0 0 1 2.21 7.022 12.2 12.2 0 0 1-2.238 7.063l1.82 1.821a2.139 2.139 0 1 1-3.024 3.025l-1.833-1.833a12.2 12.2 0 0 1-6.981 2.18 12.2 12.2 0 0 1-7.023-2.209L3.65 24.374a2.139 2.139 0 1 1-3.025-3.025l1.862-1.861a12.2 12.2 0 0 1-2.21-7.023c0-2.594.806-5 2.181-6.981L.626 3.65a2.139 2.139 0 0 1 0-3.025ZM8.61 19.414a7.943 7.943 0 0 0 3.925 1.03 7.944 7.944 0 0 0 3.88-1.005L12.5 15.524l-3.89 3.89Zm.866-6.914-3.89 3.89a7.943 7.943 0 0 1-1.03-3.925c0-1.408.364-2.731 1.005-3.88L9.476 12.5Zm6.048 0 3.935 3.934a7.944 7.944 0 0 0 1.055-3.969 7.943 7.943 0 0 0-1.03-3.925l-3.96 3.96Zm.935-6.984L12.5 9.476 8.566 5.54a7.943 7.943 0 0 1 3.969-1.055c1.426 0 2.766.374 3.924 1.03Z"
      ></path>
    </svg>

    <p
      class="absolute -left-[7%] -top-[78%] hidden w-fit bg-sweater-4 px-3 py-2 font-300 leading-none text-sweater-8 content:group-hover:block"
    >
      Visit my main site~!!
    </p>
  </a>
</div>
