---
import { type HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h2">;

let { id, ...props } = Astro.props;
---

<h2 id={id} class="w-fit scroll-mt-9" {...props}>
  <a href={`#${id}`}>
    ## <slot />
  </a>
</h2>
