---
import { type HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h3">;

let { id, ...props } = Astro.props;
---

<h3 id={id} class="w-fit scroll-mt-6" {...props}>
  <a href={`#${id}`}>
    ### <slot />
  </a>
</h3>
