---
import BaseLayout from "./base-layout.astro";

Astro.response.status = 404;
Astro.response.statusText = "Page not found";
---

<BaseLayout
  meta={{
    kind: "route",
    title: "404",
    description: "Sorry, this page doesn't exist.",
  }}
>
  <section class="flex flex-col items-center">
    <p>Sorry, page not found~</p>
  </section>
</BaseLayout>
